body {
    background-image: url("background.png");
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.bannerWrapper {
    background-image: url("bannerbg.png");
    background-repeat: repeat-x;
    height: 50px;
    position: relative;
}

.movieTitle {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}
