doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='./numberQuiz.css')
  title Number Quiz Result
body
  h1 The Number Quiz
  div
    p Your current score is #{score}
    p You have completed the Number Quiz with a score of #{score} out of #{questionsLength}